<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>nombre</th>
				<th>descripcion</th>
				<th>localizacion</th>
				<th>fecha</th>
			</tr>
		</thead>



		<tbody>
			<tr th:each="cliente: ${inmuebles}">
				<td th:text="${inmueble.id}"></td>
				<td th:text="${inmueble.nombre}"></td>
				<td th:text="${inmueble.descripcion}"></td>
				<td th:text="${inmueble.localizacion}"></td>
				<td th:text="${inmueble.createAt}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>